body {
  text-align: center;
  margin: 40px;
  color: #143a89;
  font-weight: bold;
}
h1 {
  color: #547ff1;
  letter-spacing: 0.1em;
  font-weight: bolder;
}

h5 {
  font-weight: 200;
}
hr {
  max-width: 440px;
  margin: 0 auto;
  padding-bottom: 20px;
}
.now {
  color: #53a3ba;
  font-weight: 200;
}
.input {
  padding: 12px 30px;
  border-radius: 3px;
  font-size: 20px;
  border: 1px solid white;
  color: #53a3ba;
}
.submit {
  padding: 12px 30px;
  border-radius: 3px;
  font-size: 20px;
  color: white;
  border: 1px solid #53a3ba;
  background-color: #53a3ba;
}
.box {
  padding: 15px 30px;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #c6edf8;
  margin-bottom: 20px;
}
.newDate {
  margin-top: 30px;
  color: #53a3ba;
  font-weight: 200;
}
